<div class="details">
  <h1 class="details__title details__title--mobile-hide">
    Рубашка Medicine
  </h1>
  //= details/tags.html
  //= details/price.html
  //= details/props.html
  //= details/actions.html

  <p class="details__description">
    Рубашка Medicine выполнена из вискозной ткани с клетчатым узором. <br/>
    Детали: прямой крой; отложной воротник; планка и манжеты на пуговицах; <br/>
    карман на груди.
  </p>

  <div class="details__more details__description--mobile-show">
    <a class="details__more-btn" href>Подробнее</a>
  </div>
</div>