<div class="details">
  <h1 class="details__title details__title--mobile-hide">
    Рубашка Medicine
  </h1>
  <ul class="details-tags">
    <li class="details-tags__item">
      <a class="details-tags__item-link" href>Рубашки Medicine</a>
    </li>
    <li class="details-tags__item">
      <a class="details-tags__item-link" href>Все модели Medicine</a>
    </li>
    <li class="details-tags__item">
      <a class="details-tags__item-link" href>Рубашки</a>
    </li>
  </ul>

  <div class="details-price">
    <span class="details-price__old">2 699</span>
    <span class="details-price__now">2 499 &#8381;</span>
    <span class="details-price__action"><b>2 227 &#8381;</b> — с промокодом</span>
  </div>

  <div class="details-props">
    <p class="details__availability">
      В наличии в магазине <a class="details__availability-link" href>Lamoca</a>
    </p>
    <p class="details__delivery">Бесплатная доставка</p>
  </div>

  <div class="details-actions">
    <a class="details-actions__store" href>В магазин</a>
    <a class="details-actions__favorite" href>В избранное</a>
    <a class="details-actions__btn details-actions__btn--mobile-show" href>Кнопка</a>
  </div>
  <p class="details__description">
    Рубашка Medicine выполнена из вискозной ткани с клетчатым узором.
    Детали: прямой крой; отложной воротник; планка и манжеты на пуговицах;
    карман на груди.
  </p>
</div>