<div class="gallery">
  <div class="gallery-preview">
    <ul class="gallery-preview__list">
      <li class="gallery-preview__list-item preview">
        <a href class="preview-btn">
          <img class="preview-btn__photo" src="./images/photo-1.jpg" alt="Рубашка medicine" />
        </a>
      </li>
      <li class="gallery-preview__list-item preview">
        <a href class="preview-btn">
          <img class="preview-btn__photo" src="./images/photo-2.jpg" alt="Рубашка medicine" />
        </a>
      </li>
      <li class="gallery-preview__list-item preview">
        <a href class="preview-btn">
          <img class="preview-btn__photo" src="./images/photo-3.jpg" alt="Рубашка medicine" />
        </a>
      </li>
    </ul>

    <a class="gallery-preview__btn-down"></a>
  </div>

  <div class="gallery-main">
    <img class="gallery-main__photo" src="./images/photo.jpg" alt="Рубашка medicine" />
  </div>
</div>